<h1>Add a new Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

  <div class="btn btn-danger">
    <%= link_to 'Return Home', restaurants_path, :style=>'color: white; text-decoration: none; font-weight: 600;'  %>
  </div>
